<div class="container">
  <h1>Bookmarks</h1>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <%= link_to bookmark.name || '-', bookmark.url, target: '_blank'  %>
      </li>
    <% end %>
  </ul>
</div>
