<div class="container">
  <h1>Bookmarks</h1>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <%= link_to bookmark.name || '-', bookmark.url, target: '_blank'  %>
        <%= link_to "x", bookmark_path(bookmark, token: params[:token]), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
</div>
